{% extends 'notes/base.html' %}

{% load i18n %}
{% load notes %}

{% block extra_head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/DUI.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autogrow.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.scrollfollow.js" charset="utf-8"></script>
{% endblock %}

{% block title %}{{ title|safe }} | Notes | {{ block.super }}{% endblock %}

{% block sidebar %}
{{ block.super }}
{% user_notes_list request author as list_notes %}
<div id="sidebar-note-list">
    <ul>
        {% for n in list_notes %}
        <li class="note-item{% if n.pinned %} pinned{% endif %}{% ifequal n note %} selected{% endifequal %}"><a href="{{ n.get_absolute_url }}{% if request.GET.query %}?query={{request.GET.query}}{% endif %}">{{ n.title|safe }}</a></li>
        {% endfor %}
        {% if request.GET.query %}
        <div style="text-align: center; margin: 3px;">
            <a href="."><input type="button" value="{% trans "Clear Search" %}" style="width:90%;"></a>
        </div>
        {% else %}
        <li class="more-item"><a href="{% url note_list author.username %}">{% trans "More Notes..." %}</a></li>
        {% endif %}
    </ul>
    <hr />
    <ul>
{# Enable when we allow editing #}
{% comment %}
        <li id="new-note"><a href="#">New Note...</a></li>
{% endcomment %}
    </ul>
</div>
<div id="sidebar-notebook-list">
    <h3>{% trans "Notebooks" %}</h3>
    <ul> 
{% user_notebook_list request author as all_notebooks %}
{% include "notes/notebook_list_snippet.html" %}
        <li class="more-item"><a href="#">{% trans "More Notebooks..." %}</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<span id="view_content">
    <h1 class="title">{{ title|safe }}</h1>
    <span class="action-button"><a href="#" onclick="show_editor()">edit</a></span>
    <div>{{ body|safe }}</div>
</span>
<!-- editor span which is hidden by default -->
<span id="edit_content" style="display:none;">
    <h1 class="title">{{ title|safe }}</h1>
    <span class="action-button"><a href="#" onclick="$('#editingform').submit()">save</a></span>
    <form id="editingform" action="." method="post">
        <textarea id="editor" name="editor">{{ markdown_body|safe }}</textarea>
    </form>
</span>
<script type="text/javascript">
    function show_editor() {
        $('#view_content').remove();
        $('#edit_content').css('display', '');
        $('#editor').autogrow();
    }
</script>
{% endblock %}
