.rounded-corners-button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #94C7B6;
    padding: 5px;
}

/* the sidebar is not needed for the account-related pages */
#sidebar-container {
    width: 0px !important;
}

#content-container {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login-container {
    text-align: center;
}

#login-container table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#login-container label {
    padding: 0.25em;
}
#login-container input {
    padding: 1em;
    margin: 0.8em;
    border: 2px solid gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.openid-provider-button {
    display: inline-block;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 2px;
}

.openid-provider-button img {
    padding: 3px;
    max-height: 32px;
}

.registration-form-label {
    width: 15em;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    margin-right: 0.5em;
}

.registration-form-errors {
    color: red;
    margin-left: 2em;
}

.registration-form-help-text {
    /* set the help text off from the input field above it */
    line-height: 2;
    /* make the help text align with the input field above it */
    margin-left: 16em;
}
