html, body {
    background-color: #4e6960;
    font-size: 0.95em;
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

a, a:link, a:hover, a:active, a:visited {
    color: #d3643b;
    text-decoration: underline;
}

h1 {
    color: #d3643b;
    font-family: Trebuchet MS, Calibri, Verdana, Arial, sans-serif;
}

.clear {
    clear: both;
}

#body {
    background-color: #94c7b6;
    padding: 10px;
}

#header {
    width: 100%;
    border-spacing: 10px;
}

#header-logo {
    width: 251px;
}

#header-auth {
    margin: 0.5em 1em 0 0;
    text-align: right;
    vertical-align: middle;

    font-family: Trebuchet MS, Calibri, Verdana, Arial, sans-serif;
    white-space: nowrap;
}

#header-auth p, #header-auth h3 {
    margin: 0;
    padding: 0;
}

#header-avatar {
    margin-left: 5px;
    width: 64px;
}

#header-avatar img {
    border: 2px solid #FFFFFF;
}

table#content-container {
    padding: 0 10px 20px 10px;
    width: 100%;
    border: 0;
}

#search-bar{
    padding:0.7em;
}
#sidebar{
    width:20%;
    float:left;
    padding:0.7em;
}
#sidebar ul{
    margin:0;
    padding-left:2em;
}
#sidebar ul#list-recent{
    list-style-image:url('/site_media/img/note_16.png');
}
#sidebar ul#list-pinned{
    list-style-image:url('/site_media/img/pin-down_16.png');
}
#sidebar ul#list-notebooks{
    list-style-image:url();
}
#sidebar a{
    text-decoration:none;
    color:black;
}
#sidebar a:hover{
    text-decoration:underline;
    color:blue;
}
#sidebar p{
    font-size:1.2em;
}

.sidebar-item-selected{
    font-weight:bold;
    /*text-decoration:underline;*/
}

#content {
    padding: 12px 12px 12px 24px;
    background-color: #edece6;
    vertical-align: top;
    font-family: Candara, Verdana, Tahmoa, Arial, sans-serif;
}

#content h1 {
    margin: 0.2em 0 0.5em 0;
}

#content-layout td {
    padding: 8px;
    vertical-align: top;
}

table#content-layout {
    width: 75%;
}

#footer {
    height: 50px;
}

.form-field th {
    text-align: left;
}

/* Note-specific styles */
#note h1 {
    text-decoration: underline;
}

.note-datetime {
    color: #666666;
    font-style: italic;
    font-size: 0.8em;
}

.note-highlight {
    background-color: yellow;
}

.note-monospace {
    font-family: Consolas, monospace;
}

.note-size-small {
    font-size: 0.8em;
}

.note-size-large {
    font-size: 1.5em;
}

.note-size-huge {
    font-size: 2.0em;
}

a.link-internal {
    color: #204A87;
}

a.link-broken {
    color: #555753;
}

a.link-url {
    color: #3465A4;
}

table.input-form {
    border-spacing: 13px;
}

.input-form label {
    text-align: left;
    float: left;
}

.input-form th {
    vertical-align: top;
}

.input-form td {
    font-size: 0.7em;
    vertical-align: top;
}

.object_list {
    width: 800px;
}

.object_list thead tr {
    background-color: #73685d;
    font-family: Verdana, Candara, Tahoma, Arial, sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
}

.object_list tfoot tr {
    background-color: #403b33;
    text-align: center;
    color: #ffffff;
    height: 1.7em;
}

.object_list tfoot a {
    color: #8ecbd2;
}

.object_list td {
    padding: 5px 3px;
}

.row-even {
    background-color: #d4e1d9;
}

.row-odd {
    background-color: #edece6;
}

.object_list td.icon {
    padding: 0;
    text-align: center;
}

.object_list td.icon img {
    vertical-align: middle;
}

.object_list div.paginator {
    text-align: center;
}

.center {
    text-align: center;
}
