body{
    margin:0px;
    font-family:Liberation Sans, sans-serif;
}
h1{
    text-shadow: 2px 2px 0px #FFF;  /* 2px right, 2px below, 0px blur */
}

a img {
    border: 0;
}

a, a:link, a:hover, a:active, a:visited {
    color: #d3643b;
    text-decoration: underline;
}

.clear {
    clear: both;
}


#header{
    background-color:black;/*#9db8d2;*/
    border-bottom:1px solid black;
    height:2.2em;
    margin-bottom:1em;
    color:#999;
    
    background:-webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.7, rgb(0,0,0)), /* black arrête à 90% vers le haut */
            color-stop(0.0, rgb(80,80,80)) /* gris commence à 100% vers le haut */
    );
    background:-moz-linear-gradient(
            center bottom,
            rgb(0,0,0) 70%,
            rgb(80,80,80) 0%
    );
}
#header a{
    color:white;
}
#header table td{
    padding-right:10px;
}
#header-left{
    float:left;
}
#header-right{
    float:right;
}
#header-right table{
    height:2.2em;
}

#header-logo {
    float:left;
    height:2.2em;
    width:auto;
    margin-right:2em;
}
#header-avatar img {
    height: 2em;
    width:auto;
    /* the total height is 2.2 em */
    margin-top:0.1em;
    margin-bottom:0.1em;
}


table#content-container {
    padding: 0 10px 20px 10px;
    width: 100%;
    border: 0;
}

#search-bar{
    padding:0.7em;
}
#sidebar{
    width:20%;
    float:left;
    padding:0.7em;
}
#sidebar ul{
    margin:0;
    padding-left:2em;
}
#sidebar ul#list-recent{
    list-style-image:url('/site_media/img/note_16.png');
}
#sidebar ul#list-pinned{
    list-style-image:url('/site_media/img/pin-down_16.png');
}
#sidebar ul#list-notebooks{
    list-style-image:url('/site_media/img/notebook_16.png');
}
#sidebar a{
    text-decoration:none;
    color:black;
}
#sidebar a:hover{
    text-decoration:underline;
    color:blue;
}
#sidebar p{
    font-size:1.2em;
}

.sidebar-item-selected{
    font-weight:bold;
    /*text-decoration:underline;*/
}

#main{
/*    margin-top:3em;*/
    width:75%;
    border:2px solid #ffcc33;
    background-color:#FFE596;
    float:left;
    border-radius:1em;
    background:-webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.95, rgb(255,229,150)),
            color-stop(0.70, rgb(255,255, 255))
    );
    background:-moz-linear-gradient(
            center bottom,
            rgb(255,229,150) 95%,
            rgb(255,255,255) 70%
    );
}
#main-toolbar{
    padding-left:1em;
    padding-right:1em;
    border-bottom:1px solid black;
}
#main-content{
    padding:1em;
}

#content h1 {
    margin: 0.2em 0 0.5em 0;
}

#content-layout td {
    padding: 8px;
    vertical-align: top;
}

table#content-layout {
    /*width: 75%;*/
}

#footer {
    height: 50px;
}

.form-field th {
    text-align: left;
}

#sharing-dropdown{
    width:20em;
    padding:0.5em;
    min-height:15em;
    border:1px solid black;
}
#sharing-dropdown table{
    border:0;
}

#login-selector{
    margin:1em;
    width:20em;
    margin-right:auto;
    margin-left:auto;
}

#login{
    width:20em;
    margin-top:3em;
    margin-left:auto;
    margin-right:auto;
    padding:2em;
    border:2px solid #ffcc33;
    background-color:#FFE596;
    border-radius:1em;
    background:-webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.95, rgb(255,229,150)),
            color-stop(0.70, rgb(255,255, 255))
    );
    background:-moz-linear-gradient(
            center bottom,
            rgb(255,229,150) 95%,
            rgb(255,255,255) 70%
    );
    
}


/* Note-specific styles */

.note-datetime {
    color: #666666;
    font-style: italic;
    font-size: 0.8em;
}

.note-highlight {
    background-color: yellow;
}

.note-monospace {
    font-family: Consolas, monospace;
}

.note-size-small {
    font-size: 0.8em;
}

.note-size-large {
    font-size: 1.5em;
}

.note-size-huge {
    font-size: 2.0em;
}

a.link-internal {
    color: #204A87;
}

a.link-broken {
    color: #555753;
}

a.link-url {
    color: #3465A4;
}

table.input-form {
    border-spacing: 13px;
}

.input-form label {
    text-align: left;
    float: left;
}

.input-form th {
    vertical-align: top;
}

.input-form td {
    font-size: 0.7em;
    vertical-align: top;
}

.object_list {
    width: 800px;
}

.object_list thead tr {
    background-color: #73685d;
    font-family: Verdana, Candara, Tahoma, Arial, sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
}

.object_list tfoot tr {
    background-color: #403b33;
    text-align: center;
    color: #ffffff;
    height: 1.7em;
}

.object_list tfoot a {
    color: #8ecbd2;
}

.object_list td {
    padding: 5px 3px;
}

.row-even {
    background-color: #d4e1d9;
}

.row-odd {
    background-color: #edece6;
}

.object_list td.icon {
    padding: 0;
    text-align: center;
}

.object_list td.icon img {
    vertical-align: middle;
}

.object_list div.paginator {
    text-align: center;
}

.center {
    text-align: center;
}