<!DOCTYPE html>
<!--<html manifest="cache.manifest">-->
    <html>
    <head>
        <title>Slick Notes</title>
        {% comment %}TODO: Figure out why DEBUG does not work{% endcomment %}
        {% if 1 %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/underscore.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/backbone.js" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/api-client.js"></script>

        <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.mobile-1.0a4.1.css" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tmpl.js" charset="utf-8"></script>

        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.mobile-1.0a4.1.js" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/mobile-notes.js"></script>
        {% else %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/underscore.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/backbone.min.js" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/api-client.js"></script>

        <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.mobile-1.0a4.1.min.css" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tmpl.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.mobile-1.0a4.1.min.js" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/mobile-notes.js"></script>
        {% endif %}

    </head>

    <body>
        <span id="template-main-page" style="display: none;">{% include "mobile/main_page.html" %}</span>
        <span id="template-note-list-page" style="display: none;">{% include "mobile/note_list_page.html" %}</span>
        <span id="template-note-row-view" style="display: none;">{% include "mobile/note_row_view.html" %}</span>

    </body>
</html>
