<!DOCTYPE html>
<!--<html manifest="cache.manifest">-->
    <html>
    <head>
        <title>Slick Notes</title>
        {% comment %}TODO: Figure out why DEBUG does not work{% endcomment %}
        {% if 1 %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/underscore.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/backbone.js" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/api-client.js"></script>

        <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.mobile-1.0a4.1.css" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tmpl.js" charset="utf-8"></script>

        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.mobile-1.0a4.1.js" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/mobile-notes.js"></script>
        {% else %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/underscore.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/backbone.min.js" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/api-client.js"></script>

        <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.mobile-1.0a4.1.min.css" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tmpl.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.mobile-1.0a4.1.min.js" charset="utf-8"></script>
        <script src="{{ MEDIA_URL }}js/mobile-notes.js"></script>
        {% endif %}

        <script type="text/javascript">
            mainViewTemplate = '{% filter escapejs %}{% include "mobile/main_view.html" %}{% endfilter %}';
            noteListViewTemplate = '{% filter escapejs %}{% include "mobile/note_list_view.html" %}{% endfilter %}';
        </script>
    </head>

    <body>
        <div data-role="page"></div>

    </body>
</html>
